# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/cache/data
/storage/logs/*.log
.env
.env.*.php
.phpunit.result.cache

# IDEs and system files
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.DS_Store
Thumbs.db

# Composer
composer.lock

# NPM
package-lock.json
yarn.lock

# Cache
/.phpunit.result.cache
.phpunit.result.cache
/.phpunit.cache

# Docker (optional)
docker-compose.override.yml
